In [2]:
# importing Panda

import pandas as pd

# reading the file marketing_customer_analysis.csv

url = 'https://docs.google.com/spreadsheets/d/1a9g5MfgAJ17HiYYKsjBi2yaO_HMGLIAX/edit?usp=sharing&ouid=108054823958769193495&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
mark_cust_A = pd.read_excel(path)
mark_cust_A

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909.0,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
# standardise hearder name

cols_st = []

for i in range(len(mark_cust_A.columns)):
    cols_st.append(mark_cust_A.columns[i].lower().replace(" ","_"))

mark_cust_A.columns = cols_st
mark_cust_A

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909.0,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
# check Nan value in the data Frame

mark_cust_A.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [5]:
# check the type of column Numerical or categorical
# Numerical are column float, or Date time 
# Categorical are column type , object, and datetime64

mark_cust_A.dtypes

unnamed:_0                              float64
customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                  float64
location_code                            object
marital_status                           object
monthly_premium_auto                    float64
months_since_last_claim                 float64
months_since_policy_inception           float64
number_of_open_complaints               float64
number_of_policies                      float64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
dtype: object

In [6]:

# lest see if there is duplicated in the Data, there is not so instaed of droping row I decide to rename the empty cell with Value making sense

mark_cust_A[mark_cust_A.duplicated()]

Empty DataFrame
Columns: [unnamed:_0, customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type]
Index: []

[0 rows x 26 columns]

In [7]:
# will delete Nan value in the column response and replace by no, column number of open complaint by 0 if its NAn

# replace value for column repionse with no

mark_cust_A['response'] = mark_cust_A['response'].fillna('No')

mark_cust_A

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909.0,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [8]:

# replace value for column number of complaint  with 0
mark_cust_A['number_of_open_complaints '] = mark_cust_A['number_of_open_complaints'].fillna(0)


mark_cust_A

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,number_of_open_complaints
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,0.0
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,0.0
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,0.0
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,0.0
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,0.0
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,0.0
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,0.0
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,4.0
10909,10909.0,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,0.0

In [9]:
# replace value for column number of complaint  with 0
mark_cust_A['vehicle_type'] = mark_cust_A['vehicle_type'].fillna("Other vehicule type")

mark_cust_A

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,number_of_open_complaints
0,0.0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other vehicule type,0.0
1,1.0,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other vehicule type,0.0
2,2.0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,0.0
3,3.0,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,0.0
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Other vehicule type,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905.0,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,0.0
10906,10906.0,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,0.0
10907,10907.0,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Other vehicule type,0.0
10908,10908.0,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,4.0
10909,10909.0,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,Other vehicule type,0.0

In [10]:
# drop column unnamed as it s not useful for our analyse

mark_cust_A = mark_cust_A.drop(axis = 1, labels = "unnamed:_0" )

In [11]:
mark_cust_A

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,number_of_open_complaints
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029.0,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other vehicule type,0.0
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other vehicule type,0.0
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139.0,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,0.0
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,0.0
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Other vehicule type,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0.0,...,7.0,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,0.0
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146.0,...,6.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,0.0
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837.0,...,2.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Other vehicule type,0.0
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195.0,...,6.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,4.0
10909,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0.0,...,3.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,Other vehicule type,0.0

In [12]:
# Importe Date and time librairie/ create a new column in data frame (month)/ use panda to date time to excract date from 'effective date' columns/ print data frame 
# .dt stands for "datetime accessor," and it's a special attribute that allows you to access various components of datetime objects in a Series or DataFrame
# convert Data in perido Month to be able to organise per month the data
import datetime
import pandas as pd

mark_cust_A['Date'] = pd.to_datetime(mark_cust_A['effective_to_date'])

mark_cust_A['Date'] = mark_cust_A['Date'].dt.to_period('M')

# first condition creating a new data Frame for January and adding a column date and month 
condition1 = mark_cust_A['Date'] == '2011-01'
data_for_jan =mark_cust_A[condition1]
data_for_jan['month'] = 'Jan'



## second condition creating a new data Frame for February and adding a column date and month 
condition2 = mark_cust_A['Date'] == '2011-02'
data_for_fev = mark_cust_A[condition2]
data_for_fev['month'] = 'Fev'


## third condition creating a new data Frame for March and adding a column date and month 
condition3 = mark_cust_A['Date'] == '2011-03'
data_for_march = mark_cust_A[condition3]
data_for_march['month'] = 'March'


# concatenate the dataframe for every month to get back to Data frame original with month ordered

mark_cust_df = pd.concat([data_for_jan,data_for_fev,data_for_march], axis = 0)
mark_cust_df

/tmp/ipykernel_160/1397096282.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_for_jan['month'] = 'Jan'
/tmp/ipykernel_160/1397096282.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_for_fev['month'] = 'Fev'

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,number_of_open_complaints,Date,month
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0.0,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other vehicule type,0.0,2011-01,Jan
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078.0,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,0.0,2011-01,Jan
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675.0,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Other vehicule type,0.0,2011-01,Jan
8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,66839.0,...,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,Other vehicule type,0.0,2011-01,Jan
9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,70961.0,...,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,Other vehicule type,0.0,2011-01,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10899,WU60905,California,8610.667489,No,Basic,High School or Below,2011-02-06,Unemployed,F,0.0,...,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,A,0.0,2011-02,Fev
10900,VN73653,Oregon,6423.739052,No,Basic,College,2011-02-13,Unemployed,M,0.0,...,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,Other vehicule type,0.0,2011-02,Fev
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0.0,...,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,0.0,2011-02,Fev
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837.0,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Other vehicule type,0.0,2011-02,Fev
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195.0,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,4.0,2011-02,Fev

In [24]:
# Dtypes for columns month is period month 


mark_cust_A.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                  float64
location_code                            object
marital_status                           object
monthly_premium_auto                    float64
months_since_last_claim                 float64
months_since_policy_inception           float64
number_of_open_complaints               float64
number_of_policies                      float64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
number_of_open_complaints               float64
Date                                  period[M]
dtype: object

In [ ]:
# import Data and read excel file with special path as the excel is in my Google drive , import panda library,

import pandas as pd
url = 'https://docs.google.com/spreadsheets/d/1a9g5MfgAJ17HiYYKsjBi2yaO_HMGLIAX/edit?usp=sharing&ouid=108054823958769193495&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
mark_cust_A = pd.read_excel(path)
# fonction processing all the steps to make the data clean for our file
def Data_quarter_Y(mark_cust_A):
    # creation of a list to store columns name after lower and removing spaces
    cols_st = []
    # 
    for i in range(len(mark_cust_A.columns)):
        cols_st.append(mark_cust_A.columns[i].lower().replace(" ","_"))
    mark_cust_A.columns = cols_st
    
    mark_cust_A = mark_cust_A.fillna({'response':'No','number_of_open_complaints': 0,'vehicle_type':'Other vehicule'})
    mark_cust_A = mark_cust_A.drop("unnamed:_0", axis=1)
    mark_cust_A['date'] = pd.to_datetime(mark_cust_A['effective_to_date'])
    mark_cust_A['month'] = mark_cust_A['date'].dt.to_period('M')
    
    condition1 = (mark_cust_A['date'] == '2011-01')
    condition2  = (mark_cust_A['date'] == '2011-02')
    condition3 = (mark_cust_A['date'] == '2011-03')
    
    data_for_jan = mark_cust_A[condition1].copy()
    data_for_jan['month'] = 'Jan'

    data_for_fev = mark_cust_A[condition2].copy()
    data_for_fev['month'] = 'Feb'

    data_for_march = mark_cust_A[condition3].copy()
    data_for_march['month'] = 'March'
      
    return pd.concat([data_for_jan, data_for_fev, data_for_march], axis=0)   

mark_cust_A = Data_quarter_Y(mark_cust_A)

mark_cust_A