In [22]:
#import pandas as pd
mca = pd.read_csv('/Users/spicasumampouw/IronSpica/lab/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [23]:
mca.shape
#Show the dataframe shape

(10910, 26)

In [24]:
mca.columns = mca.columns.str.lower()
#Standardize header names.

In [39]:
#mca.head()
#mca.dtypes
mca.select_dtypes('float')
#Which columns are numerical? & Which columns are categorical?

,customer lifetime value,months since last claim,number of open complaints,total claim amount
0,4809.216960,7.0,0.0,292.800000
1,2228.525238,3.0,0.0,744.924331
2,14947.917300,34.0,0.0,480.000000
3,22332.439460,10.0,0.0,484.013411
4,9025.067525,NaN,NaN,707.925645
...,...,...,...,...
10905,15563.369440,NaN,NaN,1214.400000
10906,5259.444853,7.0,0.0,273.018929
10907,23893.304100,11.0,0.0,381.306996
10908,11971.977650,0.0,4.0,618.288849
10909,6857.519928,31.0,0.0,1021.719397

In [38]:
#mca.isnull().sum()
#mca.notnull().sum()
#cleanmca = mca.dropna()
#cleanmca.isnull().sum()
cleanmca.dtypes
#Check and deal with NaN values.

unnamed: 0                         int64
customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employmentstatus                  object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [89]:
#asktotest-cleanmca['monthly premium auto', 'months since last claim', 'months since policy inception'] = pd.to_datetime(cleanmca['monthly premium auto', 'months since last claim', 'months since policy inception'], errors='coerce')
#from datetime import date
#cleanmcadt1 = pd.to_datetime(cleanmca['monthly premium auto']) 
#cleanmcadt2 = pd.to_datetime(cleanmca['months since last claim']) 
#cleanmcadt3 = pd.to_datetime(cleanmca['months since policy inception'])
#mca['monthly premium auto'] = pd.to_datetime(mca['monthly premium auto'], errors='coerce')
#mca['monthly premium auto']
#cleanmcadt1.
#mca['monthly premium auto'][0].day
#mca['monthly premium auto'][0].month
#mca['monthly premium auto'][0].year
mca['monthly premium auto'][0].isoweekday()
mca['monthly premium auto'][0].time()
mca['monthly premium auto'][0].isoformat()
mca['monthly premium auto'][0].strftime(format='%d %m %Y')
mca['monthly premium auto'][0].strftime(format="%A %d. %B %Y")
#Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

'Thursday 01. January 1970'

In [90]:
cleanmcadt1.head

<bound method NDFrame.head of 2       1970-01-01 00:00:00.000000100
3       1970-01-01 00:00:00.000000097
10      1970-01-01 00:00:00.000000127
13      1970-01-01 00:00:00.000000069
16      1970-01-01 00:00:00.000000066
                     ...
10902   1970-01-01 00:00:00.000000091
10903   1970-01-01 00:00:00.000000074
10904   1970-01-01 00:00:00.000000187
10906   1970-01-01 00:00:00.000000065
10908   1970-01-01 00:00:00.000000158
Name: monthly premium auto, Length: 4543, dtype: datetime64[ns]>